<% include ./partials/header.ejs %>
<h1>INDEX PAGE</h1>

<% blogs.forEach(function(blog){ %>
    <div>
        <h2><%= blog.title %></h2>
        <img style="width: 200px;"src="<%= blog.image %>">
        <span><%= blog.created %></span>
        <p><%= blog.body %></p>
    </div>
<% }); %>

<% include ./partials/footer.ejs %>